# 내장함수
- 내장함수는 파이썬에서 기본적으로 제공하는 함수들
- 별도의 모듈을 가져오거나 추가적인 설치 없이 바로 사용 가능
- 프로그래밍에서 자주 사용하는 기능을 간단하게 구현할 수 있도록 지원
- 자주 사용하는 기능들은 익혀두는 것이 필요

# 주요 내장 함수
- 입출력 관련
- 데이터 타입 변환
- 수학 연산
- 시퀀스 관련
- 논리 및 조건 검사
- 정보나 타입 확인

In [1]:
# abs() - 절대값 리턴
abs(-3)

1.2

In [ ]:
abs(-1.2)

In [2]:
# all()
# 반복 가능한 데이터 x를 입력값으로 받으며 이 x의 요소가 모두 참이면 True, 거짓이 하나라도 있으면 False를 리턴
all([1, 2, 3])

True

In [3]:
all([1, 2, 3, 0])

False

In [4]:
all([]) # all의 입력 인수가 빈 값인 경우에는 True를 리턴

True

In [5]:
# any() -> 반복 가능한 데이터 x를 입력으로 받아 x의 요소 중 하나라도 참이 있으면 True를 리턴하고 x가 모두 거짓일 때만 False를 리턴
any([1, 2, 3, 0])

True

In [6]:
any([0, ""]) # 모두 거짓이므로 False

False

In [8]:
any([]) # any의 입력 인수가 빈 값인 경우에는 False를 리턴

False

In [7]:
# chr() -> 유니코드 숫자 값을 입력 받아 그 코드에 해당하는 문자를 리턴
chr(97)

'a'

In [9]:
chr(44032)

'가'

In [29]:
# ord() -> 문자의 유니코드 숫자 값을 리턴
ord('a')

97

In [30]:
ord('가')

44032

In [ ]:
# dir() -> 객체가 지닌 변수나 함수를 보여줌
dir([1, 2, 3])

In [ ]:
dir({'1':'a'})

In [11]:
# divmod() -> 2개의 숫자 a, b를 입력으로 받아서  a를 b로 나눈 몫과 나머지를 튜플로 리턴
divmod(7, 3)

(2, 1)

In [12]:
# enumerate() -> 순서가 있는 데이터(리스트, 튜플, 문자열)를 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴
for i, name in enumerate(['body', 'foo', 'bar']):
  print(i, name)

0 body
1 foo
2 bar

In [15]:
# filter() -> 첫 번째 인수로 함수, 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 데이터를 받음
# 반복 가능한 데이터의 요소 순서대로 함수를 호출했을 때 리턴값이 참인 것만 묶어서(걸러 내서) 리턴

def positive(l):
    result = []  # 결과를 저장할 리스트
    for i in l: 
        if i > 0:  
            result.append(i)  
    return result

print(positive([1, -3, 2, 0, -5, 6]))

# filter 함수 사용해 간단히 표현 가능
def positive(x):
  return x > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]
[1, 2, 6]

In [16]:
# list() -> 반복 가능한 데이터를 입력 받아 리스트로 만들어 리턴
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [17]:
list((1,2,3))

[1, 2, 3]

In [23]:
# map() -> 함수와 반복 가능한 데이터를 입력으로 받아 입력 받은 데이터의 각 요소에 함수를 적용한 결과를 리턴 
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number * 2)
    return result

result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [24]:
# map() 함수 사용해 간단하게 처리
def two_times(number):
    return number * 2
  
list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [25]:
# max() -> 반복 가능한 데이터를 입력 받아 그 최댓값을 리턴
max([1, 2, 3])

3

In [26]:
max("python")

'y'

In [27]:
# min() -> 반복 가능한 데이터를 입력 받아 그 최솟값을 리턴
min([1, 2, 3])

1

In [28]:
min("python")

'h'

In [31]:
# pow(x, y) -> x를 y제곱한 결과를 리턴
pow(2, 4)

16

In [32]:
pow(3, 3)

27

In [34]:
# reversed() -> 반복 가능한 객체를 뒤집어서 반환
# 원래 데이터는 변하지 않고, 뒤집힌 결과를 이터레이터로 반환

numbers = [1, 2, 3, 4]
reversed_numbers = list(reversed(numbers)) # reversed()는 이터레이터를 반환하므로 리스트로 변환
print(reversed_numbers)  
print(numbers)

[4, 3, 2, 1]
[1, 2, 3, 4]

In [35]:
# round() -> 숫자를 입력 받아 반올림해 리턴 하는 함수
round(4.6)

5

In [36]:
round(4.2)

4

In [ ]:
# 실수 5.678을 소수점 2자리까지만 반올림하여 표시
# round 함수의 두 번째 인수는 반올림하여 표시하고 싶은 소수점의 자릿수를 의미
round(5.678, 2)

In [2]:
# sorted() -> 입력 데이터를 정렬한 후 그 결과를 리스트로 리턴 
sorted([3, 1, 2])

[1, 2, 3]

In [38]:
sorted("zero")

['e', 'o', 'r', 'z']

In [39]:
# sum() -> 입력 데이터의 합을 리턴
sum([1,2,3])

6

In [40]:
sum((4,5,6))

15

In [41]:
sum({1,3,5})

9

In [42]:
# type() -> 입력 값의 자료형이 무엇인지 알려주는 함수
type("abc")

str

In [43]:
type([ ])

list